* {
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
}

a {
  color: black;
}

a:visited {
  color: black;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #f9e98a;
}

nav {
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: end;
  z-index: 999;
  > ul {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 30px 50px 0 0;
    > li {
      font-size: 1.4rem;
      font-weight: 500;
      cursor: pointer;
    }
  }
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .img-wrapper {
    position: relative;
    transition: all 0.3s ease;
    .japan-map {
      width: 800px;
      height: 800px;
    }
    .hukuoka {
      position: absolute;
      top: 609px;
      left: 70px;
      opacity: 0;
    }
    .kanagawa {
      position: absolute;
      top: 531px;
      left: 448px;
      opacity: 0;
    }
    .kyoto {
      position: absolute;
      top: 525px;
      left: 276px;
      opacity: 0;
    }
    .oita {
      position: absolute;
      top: 625px;
      left: 100px;
      opacity: 0;
    }
    .osaka {
      position: absolute;
      top: 563px;
      left: 285px;
      opacity: 0;
    }
    .tokyo {
      position: absolute;
      top: 519px;
      left: 446px;
      opacity: 0;
    }
  }
  .detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 50px;
    gap: 20px;
    > h1 {
      font-size: 1.1rem;
      font-weight: 500;
    }
    > ul {
      display: flex;
      gap: 10px;
      > li {
        font-size: 1.2rem;
        writing-mode: vertical-lr;
        text-orientation: upright;
        cursor: pointer;
      }
    }
  }
}

section {
  width: 100%;
  height: 100%;
  position: relative;
  > h1 {
    position: absolute;
    top: 30px;
    left: 50px;
  }
}
