body {
  margin: 0;
}

h1 {
  margin-bottom: 10px;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background: url('./asset/background.jpg') no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 500px;
  height: 250px;

  border-radius: 10px;
  background-color: #fff;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 120px;
  height: 30px;

  padding: 8px;

  border: none;
  border-radius: 10px;

  color: #fff;
  background-color: dodgerblue;
}

.button:hover {
  border: 2px solid dodgerblue;

  color: dodgerblue;
  background-color: #fff;

  transition: 0.7s;
}

.modal-background {
  display: none;
  justify-content: center;
  align-items: center;

  position: absolute;

  width: 100vw;
  height: 100vh;

  top: 0;
  left: 0;

  background-color: rgba(30, 143, 255, 0.122);
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 550px;
  height: 200px;

  border-radius: 10px;
  background-color: #fff;
}

.visible-modal {
  display: flex;

  visibility: visible;
  z-index: 10;
}
