* {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

h1 {
  font-size: 2.4rem;
}

body,
h1,
h2,
h3,
h4,
p {
  margin-block-end: 0;
  margin: 0.25rem;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
button {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

button {
  font: inherit;
}

:target {
  scroll-margin-block: 5ex;
}
