* {
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  background-color: antiquewhite;
}

header {
  margin-top: 200px;
}

.faq_list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  > li {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .faq_question_wrapper {
      display: flex;
      align-items: center;
      position: relative;
      > img {
        position: absolute;
        right: 10px;
        width: 25px;
        height: 25px;
        cursor: pointer;
        transition: all 0.8s linear;
      }
      > img:hover {
        transform: rotateZ(-180deg);
      }
    }

    > hr {
      border: 1px solid #030303;
    }

    > p {
      display: none;
    }
  }
}
