* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slider {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100vw;
  height: 100vh;

  overflow: hidden;
}

.image_wrap {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 3s;
  transition-timing-function: ease-in-out;
}

.image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.button {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

button {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  font-size: larger;
  cursor: pointer;
  color: #e2e2e2;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.hide {
  pointer-events: none;
  animation-name: fadeOut;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
