body {
  background-color: #f9f9f9;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
  letter-spacing: 5px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  cursor: pointer;
}

button {
  cursor: pointer;
  background-color: white;
  border: none;
}

i {
  color: skyblue;
}

.logo h1::after {
  content: " Addict";
  color: skyblue;
}

.logo {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.section {
  border: solid 1px white;
  background-color: white;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.Nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.category {
  overflow: hidden;
  color: black;
  display: flex;
  font-weight: bold;
  gap: 30px;
}

.icon {
  display: flex;
  gap: 15px;
}

.bar {
  font-size: 25px;
  transition: color 0.6s ease, transform 0.3s ease;
}

.bar:hover {
  color: black;
  transform: rotate(90deg);
}

.hiddenBar {
  border: solid 1px white;
  background-color: white;
  font-weight: bold;
}

.hiddenList {
  padding: 15px;
  transition: background-color 0.5s ease, color 0.3s ease;
}

.hiddenList:hover {
  background-color: skyblue;
  color: white;
}

.hiddenListMenu {
  color: black;
  transition: color 0.3s ease;
}

.hiddenListMenu:hover {
  color: aqua;
}

.hiddenIcon {
  display: flex;
  justify-content: center;
  padding: 30px;
  gap: 15px;
}

@media screen and (max-width: 780px) {
  .icon,
  .category,
  .hiddenSection {
    display: none;
  }
}

@media screen and (min-width: 780px) {
  .toggle,
  .hiddenSection,
  .hiddenBar {
    display: none;
  }
}
