body {
  margin: 0;
}

section {
  text-align: center;
}

.title {
  padding: 40px;
}

.title p {
  font-size: 3rem;
  font-weight: 600;
}

.category {
  margin-bottom: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid #111;
}

.category button {
  width: 80px;
  height: 50px;
  background-color: #fff;
  color: black;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.category button:hover {
  width: 100px;
  color: #fff;
  background-color: #212121;
}

article img {
  width: 300px;
  height: 250px;
}

.menu-item {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 20px;
}

.menu-header {
  width: 350px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 20px;
  border-bottom: 1px solid #111;
}
.menu-header li:first-child {
  font-size: large;
  font-weight: 600;
}

.menu-dscrp {
  width: 350px;
  padding: 20px;
  text-align: start;
}

.menuboard {
  display: inline-block;
  margin: auto;
}

@media screen and (min-width: 765px) {
  article img {
    width: 300px;
    height: 250px;
  }
  .menu-item {
    flex-direction: row;
  }

  .menu-header {
    width: 400px;
  }

  .menu-dscrp {
    width: 400px;
  }
}

@media screen and (min-width: 1435px) {
  .menuboard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 20px;
  }
  article img {
    width: 300px;
    height: 250px;
  }
  .menu-header {
    width: 300px;
  }

  .menu-dscrp {
    width: 300px;
  }
}
