:root {
  --main-color: dodgerblue;
  --text-color: black;
  --light-color: white;
}

body {
  margin: 0;
  background-color: var(--main-color);
}

.container {
  width: 100vw;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 10%;

  box-shadow: 0 2px 4px #0000001a;
  padding: 0 30px 0 30px;

  background-color: var(--light-color);
}

.title {
  color: var(--main-color);
}

.categories {
  display: flex;
  gap: 30px;
}

a {
  color: var(--text-color);
  font-size: 1.125rem;

  text-decoration-line: none;
}

a:hover {
  color: var(--main-color);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 90%;
}

.sub-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 15px;
}

.color-container {
  background-color: var(--text-color);
  padding: 20px 25px;

  border-radius: 25px;
}

.text,
.color {
  font-size: 1.875rem;
  letter-spacing: 1.5px;
}

.text {
  color: var(--light-color);
}

.color {
  color: var(--main-color);
}

.button {
  background-color: transparent;
  border: 1px solid var(--text-color);
  border-radius: 5px;

  padding: 5px 10px;

  font-size: 1.125rem;
}

.button:hover {
  background-color: var(--text-color);
  color: var(--light-color);

  transition: 0.5s;
}

.bold {
  font-weight: bold;
}
