body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 6%;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.nav {
  width: 12%;
  gap: 6%;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;

  li {
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 0.25rem;
    cursor: pointer;
  }
}

.nav li:hover {
  color: hsl(205, 78%, 60%) !important;
}

.title {
  color: hsl(205, 78%, 60%);
  font-size: 1rem;
  letter-spacing: 0.25rem;
}

main {
  width: 100%;
  height: 94%;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.color_box {
  width: 40%;
  height: 10%;
  background-color: #222;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  box-sizing: border-box;
}

.color_box h2 {
  font-size: 2.5rem;
  letter-spacing: 0.25rem;
  color: #fff;
}
.color {
  font-size: 2.5rem;
  letter-spacing: 0.25rem;
  color: hsl(205, 78%, 60%);
  font-weight: 700;
}

.click_btn {
  width: 8%;
  height: 5%;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #222;
  border-radius: 0.5rem;
  letter-spacing: 0.25rem;
  font-weight: 700;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s linear;
}

.click_btn:hover {
  color: #fff;
  background-color: #222;
}
