* {
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  list-style: none;
}

hr {
  width: 70%;
  border: 1px solid #7f7d7d;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  > h1 {
    font-size: 3rem;
  }
  .underline {
    width: 100px;
    border: 2px solid black;
  }
}

nav {
  > ul {
    display: flex;
    gap: 20px;
    button {
      font-size: 1rem;
      padding: 5px 10px;
      background: none;
      border: 1.5px solid #7d7d7d;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.3s linear;
    }
    button:hover {
      color: #fff;
      background-color: #010101;
    }
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  gap: 30px;
  width: 70%;
  padding-bottom: 50px;
  .menu_wrapper {
    display: flex;
    gap: 10px;
    flex: 1 1 45%;
    > img {
      display: block;
      width: 200px;
      height: 150px;
      border: 2px solid #8f8f8f;
      border-radius: 4px;
      object-fit: cover;
    }
    .menu_item {
      display: flex;
      flex-direction: column;
      max-width: 350px;
      gap: 10px;
      .menu_detail {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #999999;
        > h3 {
          letter-spacing: 3px;
        }
        .menu_price {
          font-size: 1.3rem;
          font-weight: bold;
        }
      }
      .menu_description {
        color: #7d7d7d;
        font-size: 1.1rem;
        font-weight: 500;
        margin-top: 10px;
      }
    }
  }
}
