body {
  margin: 0;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background: #fff;

  visibility: visible;
  transition: 0.8s;
}

.hide-loading {
  visibility: hidden;
}

.video-container {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: -1;
  object-fit: cover;
}

.switch-button {
  display: flex;
  align-items: center;
  justify-content: space-around;

  position: absolute;

  bottom: 30px;
  left: 30px;

  width: 100px;
  height: 30px;

  border: none;
  border-radius: 10px;
}

.switch {
  position: absolute;
  display: block;

  width: 50%;
  height: 100%;

  top: 0;
  left: 0;

  background-color: #49a6e9;
  border-radius: 10px;

  transition: 0.3s;
}

.slide .switch {
  left: 50%;
}
