body,
h1,
h2 {
  margin: 0;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 60px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  gap: 20px;

  background-color: #eee;
}

.button-container {
  display: flex;
  gap: 20px;
}

.button {
  padding: 0 8px 0 8px;

  border: 1px solid black;
  border-radius: 5px;

  cursor: pointer;
}

.button:hover {
  color: white;
  background-color: black;

  transition: 0.5s;
}
